/* your styles go here */

body {
    background-color: rgb(147, 200, 224);
}

.contact-text {
    font-size: 30px !important;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.topnav a {
    color: #66C7C5;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}